/* Custom CSS */
body {
    padding-top: 56px; /* Adjust based on header height */
  }
  .sticky-top {
    top: 0;
    z-index: 1020;
  }
  .search-section {
    padding: 20px;
  }
  .card {
    width: calc(33.33% - 20px); /* 3 columns with 20px margin between */
    margin: 10px;
  }
  .card-img-top {
    height: auto;
    width: 100%;
  }
  /* Additional CSS for responsive design */
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px); /* 2 columns with 20px margin between */
    }
  }
  @media (max-width: 576px) {
    .search-section {
      padding: 10px;
    }
    .card {
      width: calc(100% - 20px); /* 1 column with 20px margin between */
    }
  }
  